{% block inline_content_widget %}
    {% spaceless %}
        {{- form_widget(form) -}}
        <div class="nav-tabs-custom" id="comurContentAdminContainer">
            <ul class="nav nav-tabs" role="tablist">
            {% for locale in locales %}
                {% set _tab_name = 'comurContentAdminIframeContainer_' ~ locale %}
                <li class="nav-item {% if (not app.request.query.has('_comurtab') and loop.index == 1) or (app.request.query.get('_comurtab') == _tab_name) %}active{% endif %}">
                    <a aria-controls="{{ _tab_name }}" aria-expanded="true" href="#{{ _tab_name }}" class="comur-tab nav-link {% if (not app.request.query.has('_comurtab') and loop.index == 1) or (app.request.query.get('_comurtab') == _tab_name) %}active{% endif %}" data-toggle="tab" role="tab">{{ locale }}</a>
                </li>
            {% endfor %}
            </ul>
            <div class="tab-content">
            {% for locale in locales %}
                {% set _tab_name = 'comurContentAdminIframeContainer_' ~ locale %}
                <div role="tabpanel" class="comurContentAdminIframeContainer tab-pane {% if (not app.request.query.has('_comurtab') and loop.index == 1) or (app.request.query.get('_comurtab') == _tab_name) %}active{% endif %}" id="{{ _tab_name }}" style="min-height: {{ iframe_height|default('500') }}px">
                    <div class="comurContentAdminIframeFullscreenHeader" id="comurContentAdminIframeFullscreenHeader_{{ locale }}" style="z-index: 1051; display: none; height: 50px; line-height: 50px; padding-left: 10px; position: fixed; top: 0; left: 0; width: 100%; background-color: white;">
                        <a href="#" class="btn btn-warning fullscreenOff" id="fullscreenOff_{{ locale }}" data-locale="{{ locale }}"><i class="fa fa-compress"></i>&nbsp;{{ "Escape fullscreen"|trans({}, 'ComurContentAdminBundle') }}</a>
                    </div>
                    <div class="comurContentAdminIframeNormalHeader" id="comurContentAdminIframeNormalHeader_{{ locale }}" style="padding: 10px">
                        <a href="#" class="btn btn-warning fullscreenOn" id="fullscreenOn_{{ locale }}" data-locale="{{ locale }}"><i class="fa fa-expand"></i>&nbsp;{{ "Fullscreen"|trans({}, 'ComurContentAdminBundle') }}</a>
                    </div>
                    <iframe
                            class="comurContentAdminIframe"
                            data-loaded="false"
                            id="comurContentAdminIframe_{{ locale }}"
                            data-locale="{{ locale }}"
                            width="100%"
                            style="width: 100%; height: {{ iframe_height|default('500') }}px; border: 0;" height="100%"
                    ></iframe>
                </div>
            {% endfor %}
            </div>
        </div>
        <script>
          const data = {{ form.vars.value ? form.vars.value|raw : '{}' }};

          {% for locale in locales %}
            $('#comurContentAdminIframe_{{ locale }}').on('load', function(){
              document.getElementById('comurContentAdminIframe_{{ locale }}').contentWindow.onunload = function(){
                return false;
                // console.log('unload')
                if (navigator.appName == 'Microsoft Internet Explorer') {
                  document.getElementById('comurContentAdminIframe_{{ locale }}').document.execCommand('Stop');
                } else {
                  document.getElementById('comurContentAdminIframe_{{ locale }}').stop();
                }
              }
              // Need timeout on some browsers...
              setTimeout(function(){
                sendMessage(JSON.stringify({
                  action: 'loadEditor'
                }), '{{ locale }}');
              }, 500);
            });
          {% endfor %}

          function loadIframe(template) {
            {% for locale in locales %}
                if (template) {
                  $('#comurContentAdminContainer_{{ locale }}').show();
                  // Need timeout on some browsers...
                  setTimeout(function(){
                    $('#comurContentAdminIframe_{{ locale }}').attr('src', `{{ absolute_url(path('comur_content_admin.content_editor', {class: class})) }}&template=${template}&locale={{ locale }}&entityid={{ object is defined and object ? object.id : '' }}`)
                  }, 500);
                } else {
                  $('#comurContentAdminContainer').hide();
                }
            {% endfor %}
          }
          {% if template_field_name is defined %}
              const templateFieldId = '#{{ form.vars.id|replace({(form.vars.name): template_field_name}) }}';
              $(templateFieldId).on('change', function () {
                loadIframe($(this).val());
              });
              loadIframe($(templateFieldId).val());
          {% else %}
              loadIframe("{{ template }}");
          {% endif %}

          $('.fullscreenOn').on('click', function(){
            $('#comurContentAdminIframe_'+$(this).data('locale')).css({
              'position': 'fixed',
              'top': '50px',
              'left': '0',
              'right': '0',
              'bottom': '0',
              'z-index': '1050',
              'height': '100%',
            });
            $('#comurContentAdminIframeFullscreenHeader_'+$(this).data('locale')).show();
            $('#comurContentAdminIframeNormalHeader_'+$(this).data('locale')).hide();
          });
          $('.fullscreenOff').on('click', function(){
            $('#comurContentAdminIframe_'+$(this).data('locale')).css({
              'position': 'relative',
              'height': '{{ iframe_height|default('500') }}px'
            });
            $('#comurContentAdminIframeFullscreenHeader_'+$(this).data('locale')).hide();
            $('#comurContentAdminIframeNormalHeader_'+$(this).data('locale')).show();
          });

          function bindEvent(element, eventName, eventHandler) {
            if (element.addEventListener){
              element.addEventListener(eventName, eventHandler, false);
            } else if (element.attachEvent) {
              element.attachEvent('on' + eventName, eventHandler);
            }
          }

          // Send a message to the child iframe
          var sendMessage = function(msg, locale) {
            // Make sure you are sending a string, and to stringify JSON
            $('#comurContentAdminIframe_'+locale)[0].contentWindow.postMessage(msg, document.location.href);
          };

          // Listen to message from child window
          bindEvent(window, 'message', function (e) {
            const newdata = JSON.parse(e.data);
            // console.log(newdata);
            if (typeof newdata.request !== 'undefined' && newdata.request === 'getImage') {
              getImageWithComurImage(newdata);
            }
            else {
              if (typeof data[newdata.locale] === 'undefined') {
                data[newdata.locale] = {};
              }
              data[newdata.locale][newdata.id] = newdata.value;
              $('#{{ form.vars.id }}').val(JSON.stringify(data));
            }
          });

          {% if enableComurImageBundle %}

          function getImageWithComurImage(requestdata) {
            const defaultConfig = {{ form.vars.comur_image_params|json_encode|raw }};
            const options = {
              cropConfig: $.extend({}, defaultConfig['cropConfig'], requestdata.comurImageData['cropConfig']),
              uploadConfig: $.extend({}, defaultConfig['uploadConfig'], requestdata.comurImageData['uploadConfig']),
            };
            // console.log(options);
            initializeImageManager(requestdata.id, options, function(file){
              if (typeof data[requestdata.locale] === 'undefined') {
                data[requestdata.locale] = {};
              }
              data[requestdata.locale][requestdata.id] = file.previewSrc;
              $('#{{ form.vars.id }}').val(JSON.stringify(data));
              sendMessage(JSON.stringify({
                action: 'updateImage',
                data: {
                  src: file.previewSrc,
                  contentId: requestdata.id
                }
              }),requestdata.locale)
            });
            $('#image_upload_modal').modal({
              backdrop: 'static',
              keyboard: false
            });
          }
          {% endif %}

          // Keep last used tab active
          jQuery('.comur-tab').on('click', function () {
            var tab = jQuery(this).attr('aria-controls'),
              search = location.search.substring(1);

            /* Get query string parameters from URL */
            var parameters = decodeURIComponent(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g, '":"'),
              jsonURL = '{}';

            /* If the parameters exist and their length is greater than 0, we put them in json */
            if (parameters.length) {
              jsonURL = '{"' + parameters + '"}';
            }

            var hashes = JSON.parse(jsonURL);

            /* Replace tab parameter */
            hashes._comurtab = tab;

            /* Setting new URL */
            var newurl = window.location.origin + window.location.pathname + '?' + jQuery.param(hashes, true);
            window.history.pushState({
              path: newurl
            }, '', newurl);
          });

        </script>
    {% endspaceless %}
{% endblock inline_content_widget %}
